body{

background:#000;
color:#00ff66;
font-family:Arial;

text-align:center;
margin:0;
padding:20px;

}

h1{
margin-bottom:20px;
}

#form{

margin:20px auto;

padding:15px;

border:2px solid #00ff66;

width:300px;

border-radius:10px;

}

input,select{

width:90%;
padding:8px;

margin:5px;

background:#111;
color:#0f0;
border:1px solid #0f0;

}

button{

background:#00ff66;
color:black;

border:none;

padding:10px 15px;

margin-top:10px;

cursor:pointer;

font-weight:bold;

border-radius:6px;

transition:0.2s;

}

button:hover{

background:red;
color:white;

}

#sessions{

display:grid;

grid-template-columns:repeat(auto-fill,200px);

gap:15px;

justify-content:center;

margin-top:20px;

}

.session{

border:2px solid #00ff66;

padding:10px;

border-radius:10px;

background:#111;

}

.sessionTitle{

font-size:20px;

font-weight:bold;

margin-bottom:5px;

}

.timer{

margin-top:5px;

font-size:14px;

}

.yellow{

background:yellow;
color:black;

}

.red{

background:red;

color:white;

animation:blink 1s infinite;

}

@keyframes blink{

50%{
opacity:0.4;
}

}